@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

:root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --primary: 142 76% 36%;
    /* Green theme for organic */
    --primary-foreground: 355 100% 97%;
}

body {
    font-family: var(--font-inter);
}

.dashboard-container {
    display: flex;
    min-height: 100vh;
}